.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1.25px solid #eaeaea;
  background-color: #fafafa;
}

.footer a, .footer p {
  /* margin: 14px; */
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer p {
  text-align: center;
  color: #7f8f9f;
}