.container {
  max-width: min(1024px, 100%);
  flex: 1 0 auto;
  padding: 0 1rem;
  margin: calc(3rem + 60px) auto 3rem;
}

@media(min-width: 1025px) {
  .container {
    margin: calc(3rem + 105px) auto 3rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0;
}

.backToHome > a {
  font-size: 16px;
  font-weight: 600;
  padding: 3.5px 7px 3.5px 7px;
}

.backToHomeImg {

}

/* .breadCrumbs {
  display: flex;
  justify-content: flex-start;
} */