.Card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 35px 55px;
  border-radius: 3.5px;
  box-shadow: none;
  background-color: #f7f8f9;
}

.Card > a {
  margin: 5px 0;
}

.demoLink {
  margin-top: 15px;
}

.projectTitle {
  font-family: 'Fira Sans', "Inter", "Readex Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.cardLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}